.header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 1rem 10rem 1rem 10rem;
  width: 10;
  height: 3rem;
  background-color: #ab47bc;
}

.logo {
  padding-left: 1rem;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.nav {
  padding-right: 1rem;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding-left: 2rem;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #df78ef;
}
